@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Ejemplo de llamadas a APIs</h1>

<main id="app"></main>

<!-- Entry point for development -->
<environment include="Development">
    <script type="module" src="https://localhost:3000/apitest/@@vite/client"></script>
    <script type="module" src="https://localhost:3000/apitest/src/main.ts"></script>
</environment>
